@model UsuarioModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<style>


    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    body {
        /* fallback for old browsers */
        background: #f093fb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(92, 6, 140, 1), rgba(245, 87, 108, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(92, 6, 140, 1), rgba(215, 198, 230, 1))
    }



</style>



<script type="text/javascript">
    function ShowError() {
        alert("Usuario ya existe" );
    };
</script>

@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color: rgba(144,99,205,1); color: white">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form asp-action="Guardar" asp-controller="Mantenedor" method="post">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="Usuario" type="text" id="txtUsuario" class="form-control form-control-lg" placeholder="" />
                                        <label class="form-label" for="txtUsuario">Usuario</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="Email" type="email" id="txtEmail" class="form-control form-control-lg" placeholder="" />
                                        <label class="form-label" for="Email">Email</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline">
                                        <input asp-for="Nombre" type="text" id="nombre" class="form-control form-control-lg" placeholder=""/>
                                        <label class="form-label" for="nombre">Nombre</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input asp-for="Apellido" type="text" id="Apellido" class="form-control form-control-lg" placeholder=""/>
                                        <label class="form-label" for="Apellido">Apellido</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input asp-for="Passw" type="password" id="Passw" class="form-control form-control-lg" placeholder=""/>
                                        <label class="form-label" for="email">Password</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <input asp-for="Pais" type="text" id="Pais" class="form-control form-control-lg" />
                                        <label class="form-label" for="Pais">Pais</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">

                                    <div class="form-outline">
                                        <input input asp-for="Edad" type="text" id="Edad" class="form-control form-control-lg" />
                                        <label class="form-label" for="Edad">Edad</label>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>