@model UsuarioModel
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<style>

    body{
        background: #f093fb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(92, 6, 140, 1), rgba(245, 87, 108, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(92, 6, 140, 1), rgba(215, 198, 230, 1))
    }
</style>

<script type="text/javascript">
    function ShowError1() {
        alert("Usuario o Contraseña Invalida");
    };
</script>
@if (ViewBag.JavaScriptFunction2 != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction2)
    </script>
}





    <div class="container py-5 h-100">
    <form asp-action="Validar" asp-controller="Mantenedor" method="post">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: rgba(144,99,205,1);">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">¡Ingresa tu Usuario y Contraseña!</p>

                            <div class="form-outline form-white mb-4">
                                    <label for="Usuario">Usuario:</label>
                                    <input asp-for="Usuario" type="text" class="form-control" id="txtUsuario">
                            </div>

                            <div class="form-outline form-white mb-4">
                                    <label for="Password">Password:</label>
                                    <input asp-for="Passw" type="password" class="form-control" id="txtPassword">
                            </div>


                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                        </div>
                        <div>

                            <p class="mb-0">
                                ¿No te has registrado? <a> @Html.ActionLink("Registrarme","Guardar","Mantenedor",null,new { @class = "page-scroll" }) </a>
                            </p>

                        </div>
                </div>
            </div>
        </div>
    </div>
  </form>
   </div>
                   
                     

         
                   


