<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
    .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
      display: flex;
      align-items: center;
  justify-content: center;    
  color:     #666;
  border-radius    : 50%    ;
  transition:     all     0.3s;
  font-size:     0.9rem;
}

.social-link:hover,
.social-link:focus {
  background:     #ddd;
  text-decoration:     none;
  color: #555;
}

body{
    background-color: #753bbd
}
</style>


<div class="row text-center">
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Elena Ballinas</h5><span class="small text-uppercase text-muted">Developer - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End-->
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Pablo Erhard</h5><span class="small text-uppercase text-muted">Developer - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End-->
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jairo Perez</h5><span class="small text-uppercase text-muted">Developer - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End-->
    <!-- Team item-->
    <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
            <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Pablo Elias Ramirez</h5><span class="small text-uppercase text-muted">Developer - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- End-->

</div>

